body{
    margin: 0;
    padding: 0;
    background-color: #e9eae5;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #cecbc4;
    height:  90px;
}

.nav-ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    align-self: center;
    justify-self: center;
    margin-right: 60px;
}

a{
    list-style: none;
    text-decoration: none;
    color: gray;
    font-weight: bolder;
}

.logo{
    margin-right: 20px;
    width: 350px;
    height: 200px;
    margin-top: -50px;
}
/*about-section*/
.about-section{
    display: flex;
    flex-direction: column;    

    
}

h1{
    display: flex;
    flex-direction: row;
    justify-content: right;
    color: #846358;
    font-weight: 500x;
    
}

.box-1{
     padding: 20px;
    background-color: #eaddd7;
    border: 1px solid black;
    height: 440px;
    width: 390px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: -30px; 
    text-align: left;  
     
}

h2{
    font-weight: bolder;
    font-size: xx-large;
    margin: 10ox;
    color: #070707;


}

.box-2{
     padding: 20px;
    background-color: #eaddd7;
    border: 1px solid black;
    height: 460px;
    width: 390px;
    border-radius: 20px;   
    overflow: hidden;
     
}

.customer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 900px;
    border-radius: 40px;
    max-height: 700px;
    padding: 20px;
}

/* lists-section */
.lists-section{
    display: flex;
    flex-direction: row;
    overlay: top-split;
    margin-top: -200px;
}

.list-card{
    display: flex;
    flex-direction: row; 
}

.listt{
    font-size: xx-large;
}
.list{
    font-size: xx-large;
}

.callouts{
    margin-top: -700px;
    m 
}
 

 .socials-box{
    display: flex;
    flex-direction: row;
    height: 100px;
 }
 p{
    color: #7f7e7b;
    font-weight: bold;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: row;
 }
 .top-split{
    display: flex;
   gap: 50px;
 }
 .right-split{
    gap: 40px;
    display: flex;
    flex-direction: column;
    
 }
  
  footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
     max-height: 205px;
    margin-top: 20px;
    position: sticky;
    top: 100vh;  
    width: 100%;
    margin-bottom: -40px; 
}

 

.footer-ul{
   display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    gap: 5px;
    
}  

.lists{
     color: #868e96;    
     list-style: none;
     text-decoration: none;
     gap: 10px;
     font-weight: bold;
}

 .socials-img{
    width: 150px;
    height: 100px;
     
 }

 h4{
  color: #868e96;
  display: flex;
  flex-direction: column;
  gap: 0px;
  overflow: hidden;
  
 }

 .callout{
    display: flex;
    flex-direction: row;
    background-color:#d1cdc2;
    height: 200px;

 }


  

 

 
