body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    height: 100%;
}

nav{
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #cecbc4;
    position-try: relative; 
    height: 240px; 
}

.nav-ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    gap: 30px;

}
img{
    height: 60px;
    padding: 20px;

}

a{
    color: #8a8985;
    font-weight: bolder;
    text-decoration: none;
    list-style: none;
}
a:hover{
   text-decoration: dashed;
    color: #a1a09d;
}

h1{
    margin-top: -20px;
    font-style: monospace;
    font-weight: bold;
    align-self: center;
}

.git-link{
    color: #a7664d;
}

.git-link:hover{
    color: #7a4b39;
}

.contact-card{
    text-align: center;
    background-color: #e9ecef;
    border-radius: 20px;
    width: 700px;
    height: 700px;
    margin: auto;
    margin-top: -100px;
    position: relative;
    z-index: 10; 
    border: #74726d; 
    padding-top: 40px 
}
h2{
    color: black;
    font-size: 500;
    margin-top: 20px;
}

.form-row{
    display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 40px;
     gap: 30px;
      
}

.form-group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
     
}
.form-group label{
    display: flex;
    flex-direction: row;
    
    align-items: center;
}

.form-group input{
     color: #868e96;
    border: 1px solid gray;
    padding:14px;
    font-size:16px;
    align-items: center;
    height: 40px;
    border-radius: 20px;
    width: 250px;
}
.submit-btn{
    display: block;      
    margin: 0 auto;
    background-color: #d2bab0;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    align-self: center;
    font-size: large;
        
}
.submit-btn:hover{
    transition: 0.5s;
    background-color: #a08980; 
}
#info-input{
    width: 250px;
    height: 40px;
    border-radius: 20px;
}
 

textarea{
    margin-top: 20px;
    width: 600px;
    height: 200px;
     border-radius: 20px;

}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
     max-height: 205px;
    margin-top: 20px;
    position: sticky;
    top: 100vh;  
    width: 100%;
    margin-bottom: -40px; 
}

 

.footer-ul{
   display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    gap: 5px;
    
}  

.lists{
    color: #868e96;
    
     
     list-style: none;
     text-decoration: none;
     gap: 10px;
     font-weight: bold;
}

 .socials-img{
    width: 150px;
    height: 100px;
     
 }

 h4{
  color: #868e96;
  display: flex;
  flex-direction: column;
  gap: 0px;
  overflow: hiidden;
  
 }