body{
    margin: 0;
    padding: 0;
    background-color: #e9eae5;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #cecbc4;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    height: 90px;

}

.nav-ul{
      list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-decoration: none;
    padding: 20px;

}

.git-link{
     color: rgba(117, 53, 53, 0.919);
}

.nav-logo{
    height: 200px;
    width: 300px;
    border: none;
    padding: 20px;
    flex-grow: 20px;
}

a{
    color: #706e6e;
    text-decoration: none;
}

a:hover{
    color: #554646;
    transition: 0.1s;
    font-size: large;
}

 

 h1{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 100;
    text-shadow: rgb(19, 19, 19) 1px 1px;
 }

  
 .order-fills{
    display: flex;
    flex-direction: row;
    margin: auto;     
    position: relative;    
    border: #74726d; 
    padding-top: 40px 
 }  
 
   

.order-form{
    width:70%;
    margin:auto;
    padding:50px 0;
}

.order-form h1{
    text-align:center;
    font-size:55px;
    margin-bottom:40px;
}

label{
    display:block;
    font-size:30px;
    margin-bottom:10px;
}

input{
    width:100%;
    height:55px;
    border:1px solid #bfbfbf;
    border-radius:12px;
    padding-left:15px;
    font-size:20px;
    outline:none;
}

.form-row{
    display:flex;
    justify-content: space-between;
    gap:40px;
    margin-bottom:30px;
}

.input-box{
    flex:1;
}

.main-products{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
    
  }

  #card{
     display: flex;
     flex-direction: row;
     gap: 20px;
     border: 2px solid #1e1e1e;
     border-radius: 20px;
     text-align: center;
     height: 200px;
     width: 400px;
     
 }

 #card button{
    width: 100px;
    height: 50px;    
    border-radius: 10px; 
    background-color: #cec7bb;   
 }

 #card button:hover{
    background-color: #715959;
    transition: 0.2s;
 }

 #card img{
    width:  50%;
    height: 100%;
    border-radius: 20px;
 }

  

 #card p{
    color: #554646;   
    text-align: center;
 }

 #card h3{     
    color: #554646;
    font-size: 100;
 }
 

 img{
    width: 170px;
    height: 230px;
 }

  .select-btn{
     width: 200px;
     height: 100px;
     border-radius: 10px;
     border: 1px solid grey;
     
 }
 

 .cards-forsale{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 300px;
    height: 450px;
    border: 1px solid #554646;
    border-radius: 20px;
    box-shadow: 2px 2px grey;

 }

 

 .cards-forsale:hover{
    padding: 3px;
    transition: 0.3s;
    box-shadow: 3px 3px #554646;
 }
 
 .second-product{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
 }

 .third-product{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     padding: 20px;
 }


 .cards-forsale2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black; 
    width: 300px;
    height: 450px;
    border: 1px solid #554646;
    box-shadow: 2px 2px grey;
    border-radius: 20px;;
     justify-items: center;
 }

 .cards-forsale2:hover{
    padding: 3px;
    transition: 0.3s;
    box-shadow: 3px 3px #554646;
 }

  

 .fourth-product{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin-top: 10px;
    margin-left: 22px;
 }

 .click{
   width: 200px;
   height: 50px;
   background-color: #cec7bb;
   border-radius: 20px;
 }
.click:hover{
   background-color: #a8a39b;
   transition: 0.3s;
}
 .card{   
    width: 300px;
    height: 270px;
    border: 1px solid white;
 }
 

 .pay-methods{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    padding: 38px;
   
    
 }

 .payment-cards{
   width: 300px;
   border-radius: 20px;
 }
.payment-cards:hover{
   box-shadow: 2px 2px 2px grey;
    transform: translateY(-8px);
}

.payment-cards img{
   border-radius: 20px;
}
  

.submit{
    background-color: #cec7bb;
    width: 250px;
    height: 60px;
    text-align: center;
    color: #1e1e1e;
    font-size: 100;
    box-shadow: 1px 1px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left:570px;
    margin-bottom: 20px;
    border-radius: 10px;
    
}

.submit:hover{
    box-shadow: 2px 2px  #cec7bb;
    transition: 0.2s;
    background-color: #c1baaf;

}


 footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
     max-height: 205px;
    margin-top: 20px;
    position: sticky;
    top: 100vh;  
    width: 100%;
    margin-bottom: -40px; 
}

 

.footer-ul{
   display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    gap: 5px;
    
}  

.lists{
    color: #868e96;
    
     
     list-style: none;
     text-decoration: none;
     gap: 10px;
     font-weight: bold;
}

 .socials-img{
    width: 150px;
    height: 100px;
     
 }

 h4{
  color: #868e96;
  display: flex;
  flex-direction: column;
  gap: 0px;
  overflow: hidden;
  
 }

  